* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */

header {
background-color:rgb(235,81,81);
text-align:left;
}

.logo img{
float:right;
	width:80px;
	height:auto;
	padding-right:0px;
}


h1 {
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding-left:15px;
	padding-top:7px;
    text-align:left;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}




.ui-bar-a{
background-color:rgb(235,81,81);
color:#000000;
padding:0px;
padding-bottom:10px;
}

.ui-bar-a .ui-title{
padding:2px;	
}

.jammie-section{
	background-color:#DDD0D0;
	width:100%;
	padding:5px;
	margin-bottom:15px;
}
.jammie-section a{
text-decoration:none;
color: black;	
}

.jammie-title h1{
color:black;
font-size:16px;	
}

.ui-content{
width:100%;
margin:-8px;
margin-top: -1px;
	
}
.ui-footer{
height:18px;
}
.ui-header h1{
padding-top:18px;
}



iframe {
width:100%;
height:500px;
}





/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  
}