* html pre {
  overflow: hidden;
  width: 97%;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* vertical space
----------------------------------------------------------*/
.h10 {
  height: 10px;
}
.h20 {
  height: 20px;
}
.h30 {
  height: 30px;
}
.h40 {
  height: 40px;
}


li {
	margin: 0 0 0 20px;
	list-style: disc;
}
